# Raylib binary & headers
lib/
include/raylib*.h
include/rlgl.h
include/raymath.h
*.lib
*.dll
*.a

# Build outputs & artifacts
bin/
*.exe
*.obj
*.pdb
*.ilk
*.idb
*.exp
*.res

# IExpress & packaging artifacts
scripts/*.sed
Setup.exe

# GUI sources
gui/

# VS Code settings
.vscode/*
!.vscode/tasks.json